{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="navbar">
        <ul>
            <li><a href="{% url 'home:about' %}"> About </a></li>
            <li><a href="#features"> What is Climate Change? </a></li>
            <li><a href="#partners"> The Issue </a></li>
            <li><a href="#a"> Solutions </a></li>
        </ul>
        <span class="hovertext"> "Earth provides enough to satisfy every man's need, but not every man's greed" - Mahatma Gandhi </span>
    </div>
    <div class="hero-section">
        <div class="hero-text">
            <h1> Wonders Beyond Words. Landscapes Beyond Imagination. </h1>
            <p> Our marvellous planet - our home - needs our help. </p>
            <a class="hero-button" href="#about">Learn how to protect it</a>
        </div>
    </div>
{% endblock %}