{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="navbar">
        <ul>
            <li><a href="#about"> About </a></li>
            <li><a href="#features"> Features </a></li>
            <li><a href="#partners"> Partners </a></li>
        </ul>
    </div>
    <div class="hero-section">
        <div class="hero-text">
            <h1> Wonders Beyond Words. Landscapes Beyond Imagination. </h1>
            <p> Our marvellous planet - our home - needs our help. </p>
            <a class="hero-button" href="#about">Learn how to protect it</a>
        </div>
    </div>
{% endblock %}