body {
    margin: 0;
}

.navbar {
    display: flex;
    align-items: start;
    position: fixed;
    top: 25px;
    z-index: 1;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.27);
    border-radius: 10rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 2rem;
    transition: all 0.4s ease-in-out;
    width: 50%;
    height: 55px;
    flex-direction: column;
    overflow: hidden;
}
.navbar:hover {
    height: 90px;
    width: 55%;
}

.hovertext {
    top: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 5px;
    font-family: "Merriweather", sans-serif;
    font-size: 14px;
    color: black;
    white-space: nowrap;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    align-items: start;
    justify-content: center;
    list-style-type: none;
    gap: 61px;
    width: 100%;
    flex: 1;
    padding: 0;
}

.navbar ul li a {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding: 8px;
    border-radius: 10rem;
    transition: all 0.3s ease;
    line-height: 1;
    vertical-align: middle;
}

.navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.93);
}

h1 {
    font-family: Merriweather;
    font-size: 58px;
    color: white;
}

.hero-section {
    display: grid;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-image: url('/static/home/heroimg.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.hero-text {
    display: flex;
    margin: 0 0 0 15%;
    flex-direction: column;
}

p {
    font-family: Merriweather;
    color: white;
    font-size: 24px;
    font-weight: 300;
}

.hero-button {
    font-family: "Merriweather", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    padding: 12px 24px;
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    width: fit-content;
    margin-top: 20px;
    cursor: pointer;
    border: solid grey;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}